.form-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form-page-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
